
# .gitignore standard file for ICS Software Engineering Meteor Development.

# Ignore IntelliJ Project files.
*.iml
.idea/
*.iws
.out/

.idea/jsLibraryMappings.xml

.idea/jsLibraryMappings.xml

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml

.idea/workspace.xml
